.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%; 
  }
ion-item {
    justify-content: center; 
    padding: 15px; 
}
ion-button {
    position: absolute;
    bottom: 30px;
    left: 50%; 
    transform: translateX(-50%); 
}
  